$has-warnings: false;
$test-results: null !default;

// extra-info
// --------------------------
/// Converts two values in extra information usable for debug purposes.
/// @access public
/// @group Ssst
/// @output Log
/// @parameter Strings

@function extra-info($value, $hide) {
	@if $hide {
		@return '';
	} @else {
		$return: '│   type: #{type-of($value)}';
		@if type-of($value) == 'string' {
			$return: '#{$return}	│   length: #{str-length($value)}';
		}
		@if type-of($value) == 'list' {
			$return: '#{$return}	│   length: #{length($value)}';
		}
		@return $return;
	}
}

// test
// --------------------------
/// Test mixin to show the title and description of a test
/// @access public
/// @group Ssst
/// @output Log
/// @parameter Strings

@mixin test($title: '', $description: '') {
	@include log-start;
	
	$lines: ();
	@include log-line($title);
	@include log-line($description);
	// Set results
	$test-results: append($test-results, $title);
	@content;
}

// is-equal
// --------------------------
/// Check if two values are equal and throw errors if not.
/// @access public
/// @group Ssst
/// @output Log
/// @parameter Strings

@mixin is-equal($value1, $value2, $value3: null) {
	@if $value1 == $value2 {
		@include log-results($value1,$value2, true)	
	}	@else if $value1 == $value3 {
		@include log-results($value1,$value3, true)
	} @else {
		@include log-results($value1,$value2, false)	
	}
}

// is-not-equal
// --------------------------
/// Check if two values are equal and throw errors if not.
/// @access public
/// @group Ssst
/// @output Log
/// @parameter Strings

@mixin is-not-equal($value1, $value2, $value3: null) {
	@if $value1 != $value2 {
		@include log-results($value1,$value2, true)	
	}	@else if $value1 != $value3 {
		@include log-results($value1,$value3, true)
	} @else {
		@include log-results($value1,$value2, false)	
	}
}


// test-results
// --------------------------
/// Gather information from tests and display these. WIP
/// @access public
/// @group Ssst
/// @output Log
/// @parameter Strings

@mixin test-results($results) {
	$values: ();
	$values: append($values, ' RESULTS: (#{length($results)})');

	@if length($results) > 0 {
		@debug $test-results;
		@each $result in $results {
			$values: append($values, $result);
		}
	}

	@include log-block($values);
}
